
@media  all and (max-width:992px) {
    
}

@media all and (max-width:767px){
    /* header area  */
    .headr-menu ul li a{
        display: none;
    }
    .menu-link{
        display: block !important;
    }
    /* banner area css  */
    .banner{
        grid-template-columns: repeat(1,1fr);
    }
    .banner-images{
        order: 1;
    }
    .banner-text{
        order: 2;
    }
    /* plan section  */
    .card-plan{
        grid-template-columns: repeat(2, 4fr);
    }
}


@media all and (min-width:767px){
    .headr-menu ul li a{
        display: block;
    }
}
@media all and (max-width:575px){
    .headr-menu ul li {
        margin: 0;
    }
    /* banner  */
    .banner-title {
        font-size: 3rem;
    }
    .banner-head{
        font-size: 3rem;
    }
    .banner-text h2 {
        font-size: 3rem;
    }
    /* plan section  */
    .card-plan{
        grid-template-columns: repeat(1, 8fr);
    }
    .plan-title {
        width: 100%;
    }
}