
@media  all and (max-width:992px) {
    /* suscribe area  */
    .subscribe-area {
        margin: 75px 100px;
    }
}

@media all and (max-width:767px){
    /* header area  */
    .headr-menu ul li a{
        display: none;
    }
    .menu-link{
        display: block !important;
    }
    /* banner area css  */
    .banner{
        grid-template-columns: repeat(1,1fr);
    }
    .banner-images{
        order: 1;
    }
    .banner-text{
        order: 2;
    }
    /* plan section  */
    .card-plan{
        grid-template-columns: repeat(2, 4fr);
    }
    /* flower-plane  */
    .flower-lover{
        grid-template-columns: repeat(1,2fr);
    }
    .flower-logo{
        display: none !important;
    }
    /* leatest area  */
    .latest-header {
        width: 100%;
    }
    .single-latest{
        grid-template-columns: repeat(1,2fr);
    }
    /* subscribe area  */
    .subscribe-area {
        margin: 75px 60px;
    }
    .subscribe-area h1 {
        font-size: 2rem;
    }
    /* footer area  */
    .single-footer{
        grid-template-columns: repeat(1,3fr);
    }
    .med-footer {
        justify-content: space-around;
    }

}


@media all and (min-width:767px){
    .headr-menu ul li a{
        display: block;
    }
}
@media all and (max-width:575px){
    .headr-menu ul li {
        margin: 0;
    }
    /* banner  */
    .banner-title {
        font-size: 3rem;
    }
    .banner-head{
        font-size: 3rem;
    }
    .banner-text h2 {
        font-size: 3rem;
    }
    /* plan section  */
    .card-plan{
        grid-template-columns: repeat(1, 8fr);
    }
    .plan-title {
        width: 100%;
    }
    /* flowe area  */
    .flower-list h1 {
        font-size: 2rem;
    }
    /* subscribe */
    .subscribe-area {
        margin: 75px 30px;
    }
    .subscribe-area h1 {
        font-size: 1.5rem;
    }
    .subscribe-area form input[type="submit"] {
        width: 90px;
    }
    /* mid footer  */
    .med-footer {
        flex-direction: column;
    }
    
}