
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
}
.section-padding{
    padding: 30px 0;
}
body{
    background-color: #F5F8FF;
    margin: 0;
    padding: 0;
}
.disply-flex{
    display: flex;
}
p{
    color: #8987A1;
}
main{
    max-width: 1140px;
    margin: auto;
}

  /* ******************************************* */
 /* *********** header area css 1 ************* */
/* ******************************************* */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 1140px;
    margin: auto
}
.headr-menu ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.headr-menu ul li{
    margin-right: 40px;
}
.headr-menu ul li a{
    display: block;
    font-size: 24px;
    text-decoration: none;
    color: #8987A1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.headr-menu ul li.active a{
    font-weight: bold;
    color: #000;
}
.menu-link{
    color: #000 !important;
}
  /* ******************************************* */
 /* *********** banner area css 2 ************* */
/* ******************************************* */
.banner{
    margin-top: 60px;
}
.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.banner-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.banner-text h2{
    font-size: 4rem;
    color: #E95A08;
    font-weight: bold;
}
.banner-tex p{
    font-size: 22px;
    color: #7A7C80;
}
.banner-head{
    font-size: 4rem;
    font-weight: bold;
    color: #000000;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
    color: #E95A08;
}
.banner-images img{
    display: block;
    width: 100%;
    height: auto;
}
  /* ******************************************* */
 /* ************ plane area css 3 ************* */
/* ******************************************* */

.plan-title{
    width: 60%;
    margin: auto;
    text-align: center;
    padding-bottom: 40px;
}
.plane-header{
    font-size: 3rem;
    font-weight: bold;
    color: #E95A08;
}
.plan-card-title{
    font-size: 3rem;
    font-weight: bold;
    color: #000000;
}
/* single-card items  */
.card-plan{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 20px;
}
.single-card{
    text-align: center;
}
.card-img img{
    width: 100%;
    height: auto;
}
.card-text p{
    font-size: 22px;
    padding-top: 20px;
    color: #000;
    padding-bottom: 10px;
}
.card-text h3 {
    font-size: 22px;
    font-weight: bold;
    font-family: sans-serif;
    padding-bottom: 25px;
}
.card-text h4{
    font-size: 16px;
    background: #E95A08;
    color: #fff;
    padding: 10px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  /* ******************************************* */
 /* ***** flower lover area css 4 ************* */
/* ******************************************* */
.flower-lover{
    padding-top: 40px;
}
.flower-lover{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 60px;
}
.single-flower{
    position: relative;
}
.single-flower img{
    width: 100%;
    height: auto;
}
.flower-logo {
    width: 200px;
    height: 200px;
    position: absolute;
    right: -75px;
    top: -85px;
}
.flower-logo img{
    width: 100%;
    height: auto;
}
/* flower-text  */
.flower-list{
    padding: 20px;
}
.flower-list h1{
    font-size: 3rem;
    font-weight: bold;
}
.flower-list ul li{
    margin: 20px 0;
    color: #7A7C80;
    font-size: 19px;
}
  /* ******************************************* */
 /* *********** latest area css 5 ************* */
/* ******************************************* */
.latest-header{
    width: 60%;
    text-align: center;
    margin: auto;
     padding-bottom: 40px;
}
.single-latest{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.latest-left{
    display: grid;
    grid-template-columns: repeat(1,2fr);
    gap: 10px;
}
/* single images  */
.chalange img ,.chalange-2 img ,.latest-right img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    display: block;
}
.chalange, .chalange-2 ,.latest-right{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.overlay-text,.overlay-text-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
     font-weight: bold;
}
.overlay-text h2{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.overlay-text-2 h2{
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}
.overlay-text p,.overlay-text-2 p{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}
  /* ******************************************* */
 /* *********** joine area css 6  ************* */
/* ******************************************* */
.joine-area{
    background: url(../assets/news-letter-bg.png) no-repeat scroll 0 0 / 100% 100%;
}
.subscribe-area{
    text-align: center;
    margin: 75px 180px;
}
.subscribe-area h1{
    color: #fff;
}
.subscribe-area form{
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
}
.subscribe-area form input[type="email"]{
    width: calc(100% - 120px);
	background: rgba(240, 245, 248, 0.945);
	color: #000;
	border: none;
	padding: 15px 15px;
}
.subscribe-area form input[type="submit"]{
    width: 120px;
    background-color: #E95A08;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
  /* ******************************************* */
 /* *********** footer area css 5  ************* */
/* ******************************************* */
.single-footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.left-footer{
    padding: 0 15px;
}
.left-footer p{
    font-size: 22px;
    padding: 14px 0;
}
.med-footer{
    display: flex;
    justify-content: space-between;
}
.footer-text ul{
    list-style: none;
}
.footer-text ul li{
    margin: 15px 0;
    color: #6B7280;
}
.footer-icone{
    display: flex;
    justify-content: space-around;
    align-items: center;

}